/* .hero-image-container { 
    width: 100%;
      display: flex;
      position: relative;
      display: none;
      height: 5px;
    }
    
    .hero-image {
      width: 100%;
      height: 30vh;
    }
    
    .hero-image-container h3 {
      font-size: 50px;
    
    }
    
    #hero-image-title.white{
      position: absolute;
      top: 540px;
      font-weight: 700;
      font-size: x-large;
    }
    #hero-image-title.black{
      position: absolute;
      top: 540px;
      font-weight: 700;
      font-size: x-large;
    } */